<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="nz.ac.auckland.ptjava.internal.editors.PTJavaTextEditor"
            contributorClass="nz.ac.auckland.ptjava.editors.PTJavaTextEditorContributor"
            default="false"
            extensions="ptjava"
            id="nz.ac.auckland.ptjava.editors.PTJavaTextEditor"
            name="PTJava Text Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="nz.ac.auckland.ptjava.internal.editors.PTJavaDocumentSetupParticipant"
            extensions="ptjava">
      </participant>
   </extension>
   <extension
         id="ptjavaFileBuilder"
         name="PTJava Sample Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="nz.ac.auckland.ptjava.builder.PTJavaFileBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="ptjavaFileBuilderNature"
         name="PTJava File Builder Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="nz.ac.auckland.ptjava.builder.PTJavaFileBuilderNature">
         </run>
      </runtime>
      <builder
            id="nz.ac.auckland.ptjava.ptjavaFileBuilder">
      </builder>
   </extension>
    <extension
          id="ptjavamarker"
          name="PTJava Problem Marker"
          point="org.eclipse.core.resources.markers">
       <super
             type="org.eclipse.core.resources.problemmarker">
       </super>
       <super
             type="org.eclipse.core.resources.textmarker">
       </super>
       <persistent
             value="true">
       </persistent>
    </extension>
    <extension
          point="org.eclipse.ui.preferencePages">
       <page
             class="nz.ac.auckland.ptjava.preferences.PTJavaPreferencePage"
             id="nz.ac.auckland.ptjava.preferences.PTJavaPreferencePage"
             name="PTJava">
       </page>
    </extension>
    <extension
          point="org.eclipse.core.runtime.preferences">
       <initializer
             class="nz.ac.auckland.ptjava.preferences.PreferenceInitializer">
       </initializer>
    </extension>
    <extension
          point="org.eclipse.ui.newWizards">
       <wizard
             category="nz.ac.auckland.ptjava.category"
             class="nz.ac.auckland.ptjava.newprojectwizard.NewProjectWizard"
             icon="icons/full/etool16/newjprj_wiz.gif"
             id="nz.ac.auckland.ptjava.newprojectwizard"
             name="PTJava Project"
             project="true">
       </wizard>
       <category
             id="nz.ac.auckland.ptjava.category"
             name="PTJava">
       </category>
       <wizard
             category="nz.ac.auckland.ptjava.category"
             class="nz.ac.auckland.ptjava.newclasswizard.NewPTJavaClassWizard"
             icon="icons/full/etool16/newclass_wiz.gif"
             id="nz.ac.auckland.ptjava.wizard1"
             name="PTJava Class">
       </wizard>
    </extension>
    <extension
          point="org.eclipse.ui.views">
       <category
             id="nz.ac.auckland.ptjava"
             name="PTJava">
       </category>
       <view
             category="nz.ac.auckland.ptjava"
             class="nz.ac.auckland.ptjava.views.PTJavaView"
             icon="icons/full/etool16/task_icon.gif"
             id="nz.ac.auckland.ptjava.views.SampleView"
             name="PTJava Task Viewer">
       </view>
    </extension>
    <extension
          point="org.eclipse.ui.commands">
       <category
             id="nz.ac.auckland.ptjava"
             name="PTJava">
       </category>
       <command
             id="nz.ac.auckland.ptjava.commands.AddingPTNature"
             name="AddingPTNature">
       </command>
    </extension>
    <extension
          point="org.eclipse.ui.handlers">
       <handler
             class="nz.ac.auckland.ptjava.commands.AddingPTNatureHandler"
             commandId="nz.ac.auckland.ptjava.commands.AddingPTNature">
       </handler>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI=
                 "popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
        <command
            commandId="nz.ac.auckland.ptjava.commands.AddingPTNature"
            icon="icons/paraicon.png"
            label="Add ParaTask Nature"
            mnemonic="M1+P"
            tooltip="Add ParaTask support to an Java/Android project">
            <visibleWhen>
                <iterate operator="and">
                    <test property="org.eclipse.core.resources.projectNature"
                        value="org.eclipse.jdt.core.javanature">
                    </test>
                    <not>
                       <test
                             property="org.eclipse.core.resources.projectNature"
                             value="nz.ac.auckland.ptjava.ptjavaFileBuilderNature">
                       </test>
                    </not>
                </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
</plugin>
